extends demo.pug

block title 
    title html 
    link(rel="stylesheet", href="../static/About_us.css")
    <script src="https://kit.fontawesome.com/042fb72f4b.js" crossorigin="anonymous"></script>
     
block content
        
      h1 Mohit Goud and Mohammed Altaf
      p
        | The Developers of This app belongs to Anurag University, Currently Pursuing there Third Year. From The Department of Mechanical Engineering! Curious Enthusiast&apos;s Wanna Do Something useful for the Society
      div.box
        a.ref(href='https://github.com/Mohammed-Altaf-01')
          img(src='../static/utilis/github.img.gif' alt='Git_HUb.IMG')

        a.ref(href='20eg103319@anurag.edu.in')
          img(src='../static/utilis/gmaillog-unscreen.gif' alt='Gmail.com')

        a.ref(href='https://twitter.com/_MohammedAltaf')
          img(src='../static/utilis/twiteer_gif.gif' alt='Twitter.com')

        a.ref(href='https://www.linkedin.com/in/mohammed-altaf-850b56259/?original_referer=')
          img(src='../static/utilis/linkiendi_gfg.gif' alt='Linlkinde_img')
        
        a.ref(src ="https://www.instagram.com/")
          <i class="fa-brands fa-square-instagram" style="color: #ffffff;"></i>


