DOCTYPE html

 head
    block title   
   
    
     

 body
    h1 Fram Wise
    h2 A Bright Way To Grow Wise Crop
    p Farmers are the backbone of our society
    img(src='../static/utilis/Farmer-bro.png' alt='fram.img')
    p.quote We Live By Nature and We Preserve Nature
     .nav1
        a(href='/')  Home
        a(href='/About_us') About Us
        a(href='/prediction') Prediction
        a(href='/Home') Home
    block content
