extends  demo.pug 


block title
   title html
   style 
    include   ../static/HOME.CSS
    include ../static/index.CSS


block content
 section
  div
    p.head Navigate Yourself Properly Using This Video Here &#x1F449;
    p
      | This is the main page which has two tabs in it. The first Tab provides a guide to the user for proper
      | navigation throught the interface the second Tab has the details of the Developers who worked on
      | creation of this WebPage. Scroll Down to know more about the intresting stuff that is Waiting For YOU!
      | &#x1F60A;
    img(src='../static/utilis/robot_gif.gif' alt='robot.gf')
  video(controls='' src='../static/utilis/1st video.mp4' type='video/mp4')
 hr
 section
  video(controls='' src='../static/utilis/2nd_video.mp4')
  div
    | &gt;
    p.head Know The Current Trends In the Market Using Interactive Graphs &#x1F4B9;
    p
      | The vizualization&apos;s page consist of line and bar graphs showing the growth and variation in the various
      | sectors as well as it&apos;s evolution over the years. You can also know the particular crop growth in a
      | state by selecting your prefered values The graphs are completely Interactive and you can zoom in and
      | out on the go without any trouble.
    a(href='vizulization.html')  Try Vizuals Out
    img(src='../static/utilis/Q1.png' alt='analystic.img')
 hr
 section
  div
    p.head  Know What Crops You should Prefer Growing Based On Soil Nutrients!&#x1F331;
    p
      | Based On your current location and your state you can know what type of crop is most suitable for your
      | area, and if by chance you wanna grow any other crop, simple name it and know what changes migh require
      | to grow it in your field without any effort&#x1F645;&zwj;&male;&#xFE0F;
    a(href='/prediction') GO Predict Without trouble
  video(controls='' src='../static/utilis/3rd_name.mp4')
 hr
 section
  video(controls='' src='../static/utilis/4th_video.mp4')
  div
    p.head Know What disease your crops have with just a pic &#x1F4F8;
    p
      | choose if you want to upload the picture or take a picture using the front camera or checkout the sample
      | images then, click the button and wait for the suggesions the output is provided based on the highest
      | probability of a disease in the leaf, create your way further based on these suggesions. Last but not
      | least choose your language to read them perfectly
    a(href='disease_detection') Upload pic and click
 hr
 section
  div
    p.head Your personal Assistant ask him anything &#x1F916;
    p
      | Select the language you want to chat with your bot and ask a query in any language you answer will be in
      | the specified language by you. It provides stability and remove the language as a barrier for most of
      | your tasks, and you can easily get your questions answerd within no time.
    a(href='farmbot.html') Chat with Your Bot
  video(controls='' src='../static/utilis/5th_video.mp4')
 hr
 img.pic1(src='../static/utilis/pg2img.jpg' alt='fram.img')